.Filters {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px;
}

.Filters form{
    width: 91%;
    height: 100%;
    margin: 2px;
}
.Filters .formInputs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.Filters .formInput {
    width: 16%;
    height: 47%;
    border-radius: 5px;
    background-color: lightgrey;
    border: none;
}

.Filters .formActions {
    width: 9%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.Filters .formAction {


}