.Filters {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px;
}

.Filters form{
    width: 92%;
    height: 100%;
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Filters .formInputs {
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 5px;
}
.Filters .formInputWrapper {
    width: 16%;
    height: 47%;
    display: flex;
    flex-direction: column;
    gap: 0;

}
.errorsBlock {
    width: 100%;
    height: 40%;
    font-size: 10px;
    margin-bottom: 1px;
    color: red;
    padding: 0;
    border: none;

}
.Filters .formInputValid {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
}
.Filters .formInputNotValid {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
}

.Filters .formActions {
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

.Filters .formClear {

}

