.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    position: relative;
}

.formContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    position: relative;

}

.formColumn {
    width: 48%;
    position: relative;

}

.groupsBlock{
    width: 100%;
    margin-bottom: 5px;
}
.groupCreateBlock {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.groupsButton {
    background-color: green;
    color: white;
    width: 49%;
    height: 20px;
    border-radius: 5px;

}
.formInput {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.editButton {
    position: absolute;
    z-index: 1;
    background-color: green;
    right: 90px;
    bottom: 0;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;

}
.editButton:hover {
    background-color: darkgreen;
}

.closeButton1 {
    position: absolute;
    z-index: 1;
    background-color: green;
    right: 20px;
    bottom: 20px;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
button:hover {
    background-color: darkgreen;
}

.filteredGroups {
    position: absolute;
    z-index: 2;
    background-color: lightgrey;
    font-size: 10px;
    width: 100%;
    padding: 1px 0;
}
.errorsBlock {
    font-size: 10px;
    margin-bottom: 2px;
    color: grey;

}
