.userContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.userContainer .userBlock {
    width: 90%;
    padding: 15px;
    background-color: white;
    border: 2px solid green;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.userContainer .userInfo {
    flex: 1;
    padding: 0 10px;
    text-align: left;
}


.userContainer .userActions {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.userContainer .userButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}


.userContainer .userActionButton {
    padding: 5px;
    margin: 5px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.userContainer .userActionButton:hover {
    background-color: darkgreen;
}

.userContainer .text {
width: 100%;
    font-size: 12px;
}
