.Header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color: snow;
    background-color: green;
    position: relative;
}

.Header .logo {
    margin-left: 20px;
    position: absolute;
    left: 0;
    font-weight: bold;
}

.Header .user {
    position: absolute;
    right: 0;
}

.Header a {
    text-decoration: none;
    color: snow;
    padding: 0 10px;
}

.Header a[class='active'] {
    color: forestgreen;
}